Repository parloti/ipa-quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix, jest --bail .

.lintstagedrc:

{
  "!*.{css,scss,sass,js,ts,html}": "npx prettier --ignore-unknown --write",
  "*.{css,scss,sass}": [
    "npx stylelint --max-warnings=0",
    "npx prettier --ignore-unknown --write"
  ],
  "*.{htm,html}": "npx htmlhint",
  "*.{js,ts,htm,html}": [
    "npx eslint --max-warnings=0 --fix",
    "npx prettier --ignore-unknown --write"
  ],
  "*.spec.ts": "jest --bail ."
}

fix sma
  .gitignore
  ipa-quiz.code-workspace
  src/app/app.config.ts
  src/app/quiz-home/quiz-home.component.ts
  src/app/quiz/quiz.component.html
  src/app/services/quiz.service.ts
  src/app/state/actions.ts
  src/app/state/app.effects.ts
  src/app/state/quiz-feature.spec.ts
  src/app/state/quiz-feature.ts
  src/app/utils/shuffle.ts
Due: npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix, jest --bail .

ng 21
  angular.json
  package-lock.json
  package.json
  patches/sass+1.93.2.patch
  src/app/home/home.component.html
  src/app/home/home.component.ts
  src/app/questions/questions.component.html
  src/app/questions/questions.component.ts
  src/app/quiz-home/quiz-home.component.html
  src/styles.scss
  vitest.config.ts
Due: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix

Fix session list
  src/@types/eslint-plugin-import/index.ts
  src/@types/eslint-plugin-jasmine/index.d.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/quiz-home/quiz-home.component.html
  src/app/quiz-home/quiz-home.component.scss
  src/app/quiz-home/quiz-home.component.ts
Due: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix

Fix voltar
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: npx prettier --ignore-unknown --write, npx eslint --max-warnings=0 --fix, jest --bail .

Remove home
  src/app/app.routes.ts
  src/app/home/home.component.html
  src/app/home/home.component.scss
  src/app/home/home.component.spec.ts
  src/app/home/home.component.ts
Due: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix, jest --bail .

Sma separator
  src/app/questions/questions.component.html
  src/app/questions/questions.component.scss
  src/app/questions/questions.component.spec.ts
  src/app/questions/questions.component.ts
  src/app/quiz-home/quiz-home.component.html
  src/app/quiz-home/quiz-home.component.spec.ts
  src/app/quiz/quiz.component.ts
  vitest.config.ts
Due: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix, jest --bail .

Test
  .vscode/launch.json
  .vscode/tasks.json
  angular.json
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.config.ts
  src/app/chart/chart.component.ts
  src/app/quiz-home/quiz-home.component.spec.ts
  src/app/quiz-home/quiz-home.component.ts
  src/app/quiz/quiz.component.html
  src/app/quiz/quiz.component.spec.ts
  src/app/quizzes-home/quizzes-home.component.spec.ts
  src/app/services/quiz.service.spec.ts
  src/app/state/app.effects.spec.ts
  src/app/state/app.effects.ts
  src/app/state/quiz-feature.spec.ts
  src/app/state/quiz-feature.ts
  src/app/timer/timer.component.spec.ts
  src/app/utils/random-integer.spec.ts
  src/app/utils/random-integer.ts
  src/app/utils/shuffle.spec.ts
Due: npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix, jest --bail .

Adicionar vozes alterativas
  public/sounds/ipa/jill_house/manifest.json
  public/sounds/ipa/john_esling/manifest.json
  public/sounds/ipa/john_wells/manifest.json
  public/sounds/ipa/peter_ladefoged/manifest.json
  public/sounds/manifest.json
  public/sounds/wikipedia/manifest.json
  public/sounds/wikipedia/meta.json
  scripts/sound-manifests.types.ts
  src/app/models/phoneme-sound.ts
  src/app/quiz/components/quiz-options.component.html
  src/app/quiz/components/quiz-prompt.component.html
  src/app/services/phoneme-sounds.service.ts
Due: npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix

firebase
  README.md
  angular.json
  package-lock.json
  package.json
  public/sounds/ipa/jill_house/manifest.json
  public/sounds/ipa/john_esling/manifest.json
  public/sounds/ipa/john_wells/manifest.json
  public/sounds/ipa/peter_ladefoged/manifest.json
  public/sounds/manifest.json
  public/sounds/wikipedia/manifest.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/auth/login/login.component.html
  src/app/auth/login/login.component.scss
  src/app/auth/login/login.component.ts
  src/app/models/iquestion.ts
  src/app/services/cloud-sync.service.ts
  src/app/services/firebase-auth.service.ts
  src/app/services/firebase.service.ts
  src/app/state/app.effects.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
Due: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix

env
  angular.json
Due: none

forestore
  firebase.json
  firestore.indexes.json
  firestore.rules
  src/app/services/cloud-sync.service.ts
  src/app/utils/create-logging-effect.spec.ts
Due: npx prettier --ignore-unknown --write, npx eslint --max-warnings=0 --fix, jest --bail .

array to record
  README.md
  src/app/chart/chart.component.ts
  src/app/default-quizzes.ts
  src/app/models/iquestion.ts
  src/app/models/iquiz.ts
  src/app/models/isession.ts
  src/app/models/istate.ts
  src/app/models/istatistics.ts
  src/app/models/ivowel.ts
  src/app/quiz-home/quiz-home.component.spec.ts
  src/app/quiz-home/quiz-home.component.ts
  src/app/quiz/components/quiz-controls.component.ts
  src/app/quiz/components/quiz-options.component.html
  src/app/quiz/components/quiz-options.component.ts
  src/app/quiz/quiz.component.spec.ts
  src/app/quiz/quiz.component.ts
  src/app/quizzes-home/quizzes-home.component.spec.ts
  src/app/services/cloud-sync.service.ts
  src/app/services/quiz.service.ts
  src/app/state/actions.ts
  src/app/state/app.effects.spec.ts
  src/app/state/app.effects.ts
  src/app/state/create-questions.ts
  src/app/state/quiz-feature.spec.ts
  src/app/state/quiz-feature.ts
  src/app/state/selectors.ts
Due: npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix, jest --bail .

sync
  src/app/app.component.spec.ts
  src/app/chart/chart.component.spec.ts
  src/app/quiz-home/quiz-home.component.spec.ts
  src/app/quiz/components/quiz-controls.component.spec.ts
  src/app/quiz/components/quiz-options.component.spec.ts
  src/app/quiz/components/quiz-prompt.component.spec.ts
  src/app/quiz/quiz.component.spec.ts
  src/app/services/cloud-sync.service.ts
  src/app/services/state-normalization.ts
  src/app/state/quiz-feature.spec.ts
Due: npx prettier --ignore-unknown --write, npx eslint --max-warnings=0 --fix, jest --bail .

remove localstorage
  src/app/auth/login/login.component.html
  src/app/auth/login/login.component.ts
  src/app/quiz/components/quiz-controls.component.ts
  src/app/quiz/components/quiz-options.component.spec.ts
  src/app/quiz/components/quiz-options.component.ts
  src/app/quiz/components/quiz-prompt.component.ts
  src/app/quiz/quiz.component.ts
  src/app/services/cloud-logger.ts
  src/app/services/cloud-sync.service.ts
  src/app/services/firebase.service.ts
  src/app/state/app.effects.spec.ts
  src/app/state/app.effects.ts
  src/app/utils/log-signals.spec.ts
  src/app/utils/log-signals.ts
Due: npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix, jest --bail .

bkp
  README.md
  e2e/app.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/app/chart/chart.component.html
  src/app/chart/chart.component.scss
  src/app/quiz-home/quiz-home.component.html
  src/app/quiz-home/quiz-home.component.ts
  src/app/quiz/components/quiz-options.component.ts
  src/app/quizzes-home/quizzes-home.component.ts
  src/app/services/cloud-sync.service.ts
  src/app/services/firebase-auth.service.ts
  src/app/state/actions.ts
  src/app/state/app.effects.spec.ts
  src/app/state/app.effects.ts
  src/app/timer/timer.component.html
  src/app/timer/timer.component.scss
  src/app/timer/timer.component.spec.ts
  src/app/timer/timer.component.ts
  src/app/utils/log-signals.ts
Due: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix, jest --bail .

bkp
  src/app/chart/chart.component.html
  src/app/chart/chart.component.scss
  src/app/chart/chart.component.ts
  src/app/models/ivowel.ts
  src/app/quiz/components/quiz-controls/quiz-controls.component.html
  src/app/quiz/components/quiz-controls/quiz-controls.component.spec.ts
  src/app/quiz/components/quiz-controls/quiz-controls.component.ts
  src/app/quiz/components/quiz-options/quiz-options.component.html
  src/app/quiz/components/quiz-options/quiz-options.component.spec.ts
  src/app/quiz/components/quiz-options/quiz-options.component.ts
  src/app/quiz/components/quiz-prompt/quiz-prompt.component.html
  src/app/quiz/components/quiz-prompt/quiz-prompt.component.spec.ts
  src/app/quiz/components/quiz-prompt/quiz-prompt.component.ts
  src/app/quiz/quiz.component.ts
  src/app/vowels.ts
  src/styles.scss
Due: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix, jest --bail .

Souds
  src/app/chart/chart.component.scss
  src/app/quiz/components/quiz-options/quiz-options.component.html
  src/app/quiz/components/quiz-options/quiz-options.component.scss
  src/app/quiz/components/quiz-options/quiz-options.component.ts
  src/app/quiz/components/quiz-prompt/quiz-prompt.component.html
  src/app/quiz/quiz.component.html
  src/app/quiz/quiz.component.ts
  src/app/quizzes-home/quizzes-home.component.ts
  src/app/services/firebase-auth.service.ts
  src/app/services/quiz.service.ts
  src/app/state/actions.ts
  src/app/state/app.effects.ts
  src/app/state/create-questions.ts
  src/app/state/quiz-feature.ts
Due: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix

sound-player
  README.md
  src/app/quiz/components/quiz-options/quiz-options.component.html
  src/app/quiz/components/quiz-options/quiz-options.component.ts
  src/app/quiz/components/quiz-prompt/quiz-prompt.component.html
  src/app/quiz/components/quiz-prompt/quiz-prompt.component.ts
  src/app/quiz/components/sound-player/sound-player.component.html
  src/app/quiz/components/sound-player/sound-player.component.ts
Due: npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix

point colors
  README.md
  src/app/quiz-home/quiz-home.component.html
  src/app/quiz-home/quiz-home.component.scss
  src/app/quiz-home/quiz-home.component.ts
  src/app/quiz/components/quiz-options/quiz-options.component.html
  src/app/quiz/components/quiz-options/quiz-options.component.ts
  src/app/quiz/components/quiz-prompt/quiz-prompt.component.html
  src/app/quiz/components/quiz-prompt/quiz-prompt.component.ts
  src/app/quiz/components/sound-player/sound-player.component.html
  src/app/quiz/components/sound-player/sound-player.component.ts
  src/app/quiz/quiz.component.html
  src/app/quiz/quiz.component.ts
  src/app/services/quiz.service.ts
  src/app/shared/stat-badges/stat-badges.component.html
  src/app/shared/stat-badges/stat-badges.component.ts
Due: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix

examples
  README.md
  public/flags/br.svg
  public/flags/de.svg
  public/flags/it.svg
  public/flags/us.svg
  src/app/models/transcription.ts
  src/app/quiz-home/quiz-home.component.html
  src/app/quiz/components/quiz-options/quiz-options.component.html
  src/app/quiz/components/quiz-options/quiz-options.component.ts
  src/app/quiz/components/quiz-prompt/quiz-prompt.component.html
  src/app/quiz/components/quiz-prompt/quiz-prompt.component.ts
  src/app/quiz/quiz.component.html
  src/app/quiz/quiz.component.scss
  src/app/quiz/quiz.component.ts
  src/app/services/cloud-sync.service.ts
  src/app/services/firebase-auth.service.ts
  src/app/state/create-questions.ts
  src/app/transcriptions/de-de.ts
  src/app/transcriptions/en-us.ts
  src/app/transcriptions/index.ts
  src/app/transcriptions/it-it.ts
  src/app/transcriptions/pt-br.ts
Due: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix

Auto-generated commit
  404.html
  chunk-C7JKDII6.js
  chunk-CMOYG7A5.js
  chunk-LKEXLRFF.js
  chunk-VBYQWGCF.js
  flags/br.svg
  flags/de.svg
  flags/it.svg
  flags/us.svg
  index.html
  main-2MWRDA5X.js
  main-CTAP4QZR.js
  ngsw.json
Due: npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix

Auto-generated commit
  404.html
  index.html
  main-H4EXK7IH.js
  ngsw.json
Due: npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix

fix longest streak
  README.md
  src/app/app.config.ts
  src/app/quiz-home/quiz-home.component.ts
  src/app/quiz/components/quiz-controls/quiz-controls.component.html
  src/app/quiz/quiz.component.html
  src/app/service-worker-update.ts
  src/app/services/quiz.service.spec.ts
  src/app/services/quiz.service.ts
  src/app/shared/stat-badges/stat-badges.component.html
  src/app/shared/stat-badges/stat-badges.component.scss
  src/app/shared/stat-badges/stat-badges.component.ts
  src/app/state/app.effects.ts
  src/app/state/quiz-feature.ts
Due: npx stylelint --max-warnings=0, npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix, jest --bail .

Auto-generated commit
  404.html
  chunk-CK3VQ7U4.js
  chunk-CMOYG7A5.js
  chunk-LKEXLRFF.js
  chunk-O7EIXSIJ.js
  index.html
  main-7WZ46YZ3.js
  main-H4EXK7IH.js
  ngsw.json
Due: npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix

Auto-generated commit
  404.html
  chunk-3EIQVYJF.js
  chunk-CK3VQ7U4.js
  chunk-O6XULF33.js
  chunk-O7EIXSIJ.js
  index.html
  main-7WZ46YZ3.js
  main-P7CMX6WU.js
  ngsw.json
Due: npx prettier --ignore-unknown --write, npx htmlhint, npx eslint --max-warnings=0 --fix
